<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/style.css")
	title Document
body
	block content

	//- script(src="js/react/build/react.js")
	//- script(src="js/react/build/react-dom.js")
	script(src="js/scripts/main.js")
	//- script(src="js/scripts.js")